
body {
    background-color: bisque;
}

input,button {
    padding: 10px;
    margin: 7px;
}

div {
    width:300px;
    height: 335px;
    background-color: aqua;
    text-align: center;
    padding: 15px;
}

.reg {
    
    background-color: aquamarine;
    position: relative;
    top:125px;
    left: 375px; 
    text-align: center;

}