<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h1 id="text">{{val}}</h1>
        <div id="container">
            <form action="/login/check" method="POST">
                <p>Enter email: </p><input id="inp" type="text" name="email" placeholder="Enter email" required><br>
                <p>Enter password: </p><input id="inp" type="password" name="password" placeholder="Enter password" required><br>
                <input type="submit" id="inp1" value="login">
            </form>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>