<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <title>Welcome</title>
    </head>
    <body>
        <h1><marquee diretion="right">Welcome to home page</marquee></h1>

        <a href="/">Back to Signup page</a>
    </body>
</html>