<!DOCTYPE html>
<html>
    <head>
        <title>All reviews</title>
        <link rel="stylesheet" href="/css/allreviews.css">
    </head>
    <body>

<h1 id="items">{{res}}</h1>

<h1><marquee>All reviews viewed from MySQL Database</marquee></h1>
<table id="itemList">
    <tr>
        <th>Email</th>
        <th>Names</th>
        <th>subjects</th>
        <th>Queries</th>
        <th>Messages</th>
    </tr>
</table>

<div class="btns">
<button onclick="home()" id="btn1">click to Home</button>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/js/allreviews.js"></script>
    </body>
</html>